* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
canvas {
  width: 100%;
}

#logs {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  z-index: 99999;
  background-color: white;
}